<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1044053326547-3erm0hr8qcmkhfvs3cnk4rn2hj4s9fni.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1044053326547-3erm0hr8qcmkhfvs3cnk4rn2hj4s9fni</string>
	<key>API_KEY</key>
	<string>AIzaSyBm-9J0ZsScUEw99oYb9ZWS0v7kjRM1Kz0</string>
	<key>GCM_SENDER_ID</key>
	<string>1044053326547</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.thelegend27.youtube-downloader</string>
	<key>PROJECT_ID</key>
	<string>downloader-b68d8</string>
	<key>STORAGE_BUCKET</key>
	<string>downloader-b68d8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1044053326547:ios:a430842e57b24ce722f226</string>
	<key>DATABASE_URL</key>
	<string>https://downloader-b68d8.firebaseio.com</string>
</dict>
</plist>